.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    background: hsl(210, 46%, 95%) ;
}
.flex-container{
    display: flex;
    background-color: white;
    width: 50px;
    height: 500px;
}
.flex-container > div {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
img{
    height: 100px;
}